test.sh
**/*.unityweb
**/*.data
**/*.wasm
**/*.swf
**/*.iso
**/*.bin
**/*.pak
**/*.pck
**/*.epk
**/*.pk3
**/*.n64
**/*.nds
**/*.gba
**/*.gb
**/*.gbc
**/*.z64
**/*.d64
**/*.jsdos
**/*.mp3
**/*.wav
**/*.ogg
**/*.flac
**/*.m4a
**/*.unity3d
**/*.mem
**/*.memgz
**/*.datagz
**/*.jsgz
**/*.zip
**/*.7z
**/*.gz
**/*.br
**/*.zst
**/*.img
**/*.iso
.DS_Store
*.log
*~
/semag/

